<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/rockville.css" type="text/css">

        .shortcut-item {
            margin-bottom: 8px;
        }
    </style>
</head>
<body>
    <section class="hero-area">
        <div class="hero-slides">
            <div class="single-hero-slide active">
                <div class="slide-img" style="background-image: url(/static/images/6.jpeg);"></div>
                <div class="hero-content">
                    <h2>
                        <span class="text-main">Groupie Tracker</span>
                    </h2>
                    <p class="typewriter">Discover the world of music icons. Explore artists, their history, and
                        upcoming concerts.</p>
                    <a href="/artists" class="btn">Discover</a>
                </div>
            </div>
            <div class="single-hero-slide">
                <div class="slide-img" style="background-image: url(/static/images/bg4.jpeg);"></div>
                <div class="hero-content">
                    <h2>
                        <span class="text-main">Groupie Tracker</span>
                    </h2>
                    <p class="typewriter">Discover the world of music icons. Explore artists, their history, and
                        upcoming concerts.</p>
                    <a href="/artists" class="btn">Explore Artists</a>
                </div>
            </div>
            <div class="single-hero-slide">
                <div class="slide-img" style="background-image: url(/static/images/bg7.jpeg);"></div>
                <div class="hero-content">
                    <h2>
                        <span class="text-main">Groupie Tracker</span>
                    </h2>
                    <p class="typewriter">Discover the world of music icons. Explore artists, their history, and
                        upcoming concerts.</p>
                    <a href="/artists" class="btn">Explore Artists</a>
                </div>
            </div>
            <div class="single-hero-slide">
                <div class="slide-img" style="background-image: url(/static/images/bg-2.jpg);"></div>
                <div class="hero-content">
                    <h2>
                        <span class="text-main">Groupie Tracker</span>
                    </h2>
                    <p class="typewriter">Discover the world of music icons. Explore artists, their history, and
                        upcoming concerts.</p>
                    <a href="/artists" class="btn">Explore Artists</a>
                </div>
            </div>
        </div>
    </section>
    <script src="/static/js/main.js"></script>
</body>
</html>